body{
    background-color: #a8dadc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    background-color:#fff;
    box-shadow:0 0 15px rgba(0,0,0, 0.3);
    margin: 50px auto;
    width:400px;
    border-radius:5px;
    padding:20px;
}

h2{
    text-align:center;
    color:#1d3557;
}

